.bg{
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.story{
  height: 100vh;
  border-top: 1px solid rgba(255,255,255,.3);
  border-bottom: 1px solid rgba(0,0,0,.4);
  box-shadow: 0 0 50px rgba(0,0,0,.8);
}

body{
  background-image: url(./img/puckered.png);
}

#first{
  background-image: url(./img/smashing-logo.png);
}

#second{
  background-image: url(./img/slide1.jpg);
}

#third{
  background-image: url(./img/slide2.jpg);
}

#fourth{
  background-image: url(./img/slide3.jpg);
}

