body{
  background-image: url(./img/puckered.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

#first{
  background-image: url(./img/smashing-logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}